@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lilita+One&family=Montserrat&family=Poppins&family=Roboto&family=Titillium+Web&display=swap");

:root {
  --bg-color: #1a1a1a;

  --header-color: #202020;

  --logo-txt-cl: #fffcfc;

  --li-cl: #ffffff;
  --li-hv-cl: #cbcbcb;
  --li-ac-cl: #424242;

  --footer-color: var(--bg-color);
  --footer-txt-cl: #797979;

  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  position: relative;

  font-family: var(--font-family);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 90%;
  margin-inline: auto;

  overflow-x: hidden;
  overflow-y: hidden;
}

header,
ul,
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bg {
  height: 100px;
  width: 100%;
  position: absolute;
  background-color: var(--header-color);
}

header {
  height: 100px;

  position: relative;
}

.logo,
.logo-img {
  height: 100%;
  width: auto;
}

.logo {
  padding: 1.3em;
}

.logo-img {
  margin-right: 1em;
}

a:link {
  text-decoration: none;
}

.logo-txt {
  font-size: 3rem;
  color: var(--logo-txt-cl);
}

ul,
.hamburger-icon {
  list-style: none;
  margin-right: 1em;
}

ul li {
  margin-left: 1.8em;

  font-size: 1.2rem;

  color: var(--li-cl);

  &:hover {
    color: var(--li-hv-cl);
    cursor: pointer;
  }

  &:active {
    color: var(--li-ac-cl);
  }
}

.hamburger-icon {
  height: 100%;
  width: auto;
  padding: 1em;

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}

.hamburger-icon img {
  height: 100%;
  width: auto;
}

.gif {
  width: 100%;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 70vh;
}

main {
  margin-top: 1em;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  padding: 1em;
  border-top: 1px dashed var(--footer-txt-cl);
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.container-footer {
  background-color: var(--footer-color);
  color: var(--footer-txt-cl);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 479px) {
  .hamburger-icon,
  .hamburger-icon img {
    visibility: visible;
    height: 100%;
  }

  .hamburger-icon {
    height: 80%;
    top: 10px;
    padding-right: 0;
  }

  ul {
    display: none;
  }

  .logo {
    padding: 2em;
    padding-left: 1.2em;
  }

  .logo-txt {
    font-size: 2rem;
  }

  .wrapper {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .hamburger-icon,
  .hamburger-icon img {
    visibility: visible;
    height: 100%;
  }

  .hamburger-icon {
    top: 0px;
    margin-left: 1em;
  }

  ul {
    display: none;
  }

  .logo {
    padding: 1.3em;
  }

  .logo-txt {
    font-size: 3rem;
  }

  .wrapper {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .hamburger-icon,
  .hamburger-icon img {
    visibility: hidden;
    height: 100%;
  }

  .hamburger-icon {
    top: 0px;
    margin-left: 1em;
  }

  ul {
    display: flex;
  }

  .logo {
    padding: 1.3em;
  }

  .logo-txt {
    font-size: 3rem;
  }

  .wrapper {
    width: 90%;
  }
}
