@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lilita+One&family=Montserrat&family=Poppins&family=Roboto&family=Titillium+Web&display=swap");

:root {
  --bg-color: #1a1a1a;

  --header-color: #202020;

  --logo-txt-cl: #fffcfc;

  --li-cl: #ffffff;
  --li-hv-cl: #cbcbcb;
  --li-ac-cl: #424242;

  --footer-color: var(--bg-color);
  --footer-txt-cl: #797979;

  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
